#DetailRevisionAdmin {
    padding: 20px;
    padding-top: 50px;

    .DetailRevision {
        // padding: 20px;
        width: 100%;
        margin-bottom: 50px;
        // background-color: red;

        button {
            // margin-left: 50%;
            // transform: translateX(-50%);
            margin-top: 20px;
            margin-left: 20px;

            width: 200px;
        }
    }
}