#Menu {
    background-color: black;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        color: white;
        text-decoration: none;
        // background-color: red;
        margin-left: 20px;
        margin-right: 20px;
    }

    .accountLogo {
        position: absolute;
        right: 20px;
    }

    .logo {
        font-size: 34px;
        font-weight: bold;
        position: absolute;
        left: 20px;
    }
}