#RevisionEncours {
    button {
        margin-top: 20px;
        width: 300px;
    }

    #Details {
        // background-color: blue;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        button {
            width: 220px;
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }
}