#TrackLive {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    // margin-top: 40px;
    height: 100%;
    z-index: 100;

    #clickable {
        cursor: pointer;
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 1000;
    }

    #map {
        position: relative;
        height: 90%;
        width: 100%;
    }
}